{% extends "layouts/base.html" %}

{% block title %}{{ title }}{% endblock %}

{################################ HTML CONTENT ################################}
{% block content %}

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="buglist">
    <thead>
        <tr>{% for f in fields %}
          {% if   f == 'filename'        %} <th>Filename</th>
          {% elif f == 'guess'           %} <th>Guess (Guessit version: {{ guessitversion }})</th>
          {% elif f == 'submit_date'     %} <th>Submit date</th>
          {% elif f == 'guessit_version' %} <th>Guessit version</th>
          {% elif f == 'options'         %} <th>Options</th>
          {% elif f == 'resolved'        %} <th>Resolved</th>
          {% elif f == 'active'          %} <th>Active</th>
          {% else %}                        <th> {{ f }} </th>
          {% endif %}{% endfor %}
        </tr>
    </thead>
    <tfoot>
        <tr>{% for f in fields %}
          {% if   f == 'filename'        %} <th>Filename</th>
          {% elif f == 'guess'           %} <th>Guess (Guessit version: {{ guessitversion }})</th>
          {% elif f == 'submit_date'     %} <th>Submit date</th>
          {% elif f == 'guessit_version' %} <th>Guessit version</th>
          {% elif f == 'options'         %} <th>Options</th>
          {% elif f == 'resolved'        %} <th>Resolved</th>
          {% elif f == 'active'          %} <th>Active</th>
          {% else                        %} <th> {{ f }} </th>
          {% endif %}{% endfor %}
        </tr>
    </tfoot>
    <tbody>
        {% for submission, guess in submissions %}
        <tr>{% for f in fields %}
          {% if   f == 'filename'        %} <td>{{ submission.filename }}</td>
          {% elif f == 'guess'           %} <td>{{ guess | safe }}</td>
          {% elif f == 'submit_date'     %} <td>{{ submission.submit_date | datetime }}</td>
          {% elif f == 'guessit_version' %} <td>{{ submission.guessit_version or '' }}</td>
          {% elif f == 'options'         %} <td>{{ submission.options or '' }}</td>
          {% elif f == 'resolved'        %} <td>{{ submission.resolved }}</td>
          {% elif f == 'active'          %} <td>{{ submission.active }}</td>
          {% else                        %} <td> ??? </td>
          {% endif %}{% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}



{################################# JAVASCRIPT #################################}
{% block scripts %}
<script type="text/javascript">

$(function() {
    $("#buglist").DataTable({
        "sorting": {{ (sort_order or '[[ 1, "desc" ], [ 0, "asc" ]]') | safe }},
        "displayLength": 10
    });
});

</script>
{% endblock %}
